.Fcard {
    /*color:cadetblue;*/
    background-color: cadetblue;
    width: 600px;
    height: 200px;
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
}
.Fcard > img{
    margin: 10px;
}
p {
    color: antiquewhite;
    margin: 10;
}